{
	"presets": [
			"@babel/typescript"
	],
	"plugins": [
			"@babel/proposal-class-properties",
			"@babel/proposal-object-rest-spread",
			[
				"file-loader",
				{
					"name": "[name].[ext]",
					"extensions": ["png","gif", "svg"],
					"outputPath": "/lib/assets",
					"context": "",
					"limit": 0
				}
			]
	]
}