.main {
  margin-left: 50px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
  margin-top: 65px;
  position: relative;
  transition: margin-left 0.05s;
  -webkit-transition: margin-left 0.05s; }
  .main.expand {
    margin-left: 150px;
    transition: margin-left 0.05s;
    -webkit-transition: margin-left 0.05s; }

svg.backdrop {
  width: 100%;
  margin-top: -50px;
  position: fixed; }
  svg.backdrop path {
    fill: #fc0067; }
