@import '../../_theme.scss';

@import '../../_mixins.scss';

.main {
  margin-left: 50px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
  margin-top: 65px;
  position: relative;
  @include sidemenu-transition(margin-left);
  &.expand {
    margin-left: 150px;
    @include sidemenu-transition(margin-left);
  }
}

svg.backdrop {
  width: 100%;
  margin-top: -50px;
  position: fixed;
  path {
    fill: $primaryColor;
  }
}
