@import "../../themeConstants.scss";

/* inject:scss */
@import '../../theme1.scss';
/* endinject */

.navbar-container {
  margin-bottom: 10px;

  .navbar {
    border-radius: 0;
    background-color: $primaryColor;
    .navbar-brand {
      color: $primaryTextColor;
    }
    .nav-link {
      color: $primaryTextColorDisabled;

      &.active, &:hover {
        color: $primaryTextColor;
      }
    }

    .glyphicon {
      color: $primaryTextColor;
    }

    .dropdown-toggle {
      color: $primaryTextColorDisabled;
      text-transform: capitalize;
      &:active, &:hover {
        color: $primaryTextColor;
      }
    }
  }

  .themeIcon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
}