/* inject:scss */
@import '../../_theme2.scss';
/* endinject */

@import '../../_mixins.scss';

$indicator-bar-opacity: 0.05;

.nav-link {
  display: flex !important;
  align-items: center;
}

.sidebar {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 45px;
  left: 0;
  background-color: transparent;
  padding-top: 16px;
  max-width: 400px;
  resize: both;
  @include sidemenu-transition(width);

  a {
    padding: 6px 8px 6px 18px;
    text-decoration: none;
    display: block;
    border-left: 4px solid transparent;
    color: $primaryTextColor;

    &:hover {
      color: $primaryColor;
    }

    &.active {
      color: $primaryColor;
      border-left: 4px solid $primaryColor;
    }
  }

  .base-icon {
    .icon-label {
      opacity: 0;
      transition: opacity $indicator-bar-opacity;
      -webkit-transition: opacity $indicator-bar-opacity;
    }
  }

  &.expand {
    width: 160px;
    @include sidemenu-transition(width);

    .base-icon {
      .icon-label {
        opacity: 1;
        transition: opacity $indicator-bar-opacity;
        -webkit-transition: opacity $indicator-bar-opacity;
        padding-left: 5px;
      }
    }
  }

  .indicator {
    display: block;
    position: absolute;
    right: 5px;
    height: 100%;
    top: 0;
    width: 7px;
    cursor: pointer;
    .indicator-bar {
      background-color: $appBackgroundColor;
    }

    &:hover {
      .indicator-bar {
        opacity: $indicator-bar-opacity;
        background-color: $primaryColor;
        height: 100%;
      }
      .base-icon {
        color: $primaryColor;
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: -7px;
      }
    }
  }
}
