@import '../../theme3.scss';

.edit-grid {
    word-wrap: break-word;
}
.panel {
    border-radius: 0;
}
.remv-padd {
    .col:nth-child(odd) {
        padding-left: 0;
    }
    .col:nth-child(even) {
        padding-right: 0;
    }
}
.d-i-block {
    display: inline-block;
}
.m-t-30 {
    margin-top: 30px;
}
.form-control{
    border-color: $primary-border-color;
    border-radius: 0px;
    background: $primary-bg-color;
}
.radio {
    display: inline-block;
    margin-right: 10px;
}
