/* inject:scss */
@import '../../theme2.scss';
/* endinject */

.customTableContainer {

  &.noData {
    table {
      min-height: calc(50vh);
    }
  }

  &.loading {
    thead {
      display: table;
      table-layout:fixed;
      width: 100%;
    }
    tbody {
      display: block;
      background-color: rgba(0, 0, 0, 0.1);
      background-image: url('./loading.gif');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50px 50px;
    }
    tbody tr {
      display: table;
      table-layout:fixed;
      width: 100%;
    }
    th, td {
      width: auto;
    }
  }

  .pagination {
    > li {
      > a {
        color: $primaryColor;
      }
    }

    > .active {
      a {
        color: $primaryTextColor;
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
    }
  }

  .table-header {
    background-color: $primaryColor;
    color: $primaryTextColor;
    border-color: $primaryColor;
  }

  .table-rows {
    background-color: $primaryBackgroundColor;
    color: $secondaryTextColor;
  }

  .table-toolbar {
    margin-bottom: 20px;

    .table-options {
      display: flex;
      justify-content: flex-end;

      .selection-renderer {
        margin-right: 10px;
      }
    }
  }

  .noDataIndication {
    display: table;
    height: calc(50vh);
    margin: auto;

    div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .globalSearch {
    display: inline-block;
    width: 50%;
  }
}
