/* inject:scss */
@import 'theme1.scss';
/* endinject */

.appContainer {
  font-size: 14px;

  // Global overrides
  .themeWrapper {
    .btn {
      border-color: $primaryColor;
      background-color: $primaryColor;
      color: $primaryTextColor;

      &:hover {
        color: $primaryColor;
        background-color: $primaryBackgroundColor;
      }

      &.btn-outline-primary {
        color: $primaryColor;
        border-color: $primaryColor;
        background-color: $primaryBackgroundColor;

        &:hover {
          background-color: $primaryColor;
          color: $primaryTextColor;
        }
      }
    }
  }
}