/* inject:scss */
@import '_theme2.scss';
/* endinject */
@import '_bootstrapOverrides.scss';
@import '_mixins.scss';

.appContainer {
  font-size: 14px;

  .p-0{
    padding: 0px !important;
  }

  .p-x-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .pt-10{
    padding-top: 10px !important;
  }

  .pb-10{
    padding-bottom: 10px !important;
  }

  .m-0{
    margin: 0px !important;
  }

  .mt-10 {
    margin-top: 10px;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mb-10{
    margin-bottom: 10px;
  }

  .mb-20{
    margin-bottom: 20px;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .shadow-container {
    @include shadow-container;
  }

  .full-height{
    min-height: calc(100vh - 90px);
  }
  
}
