/* inject:scss */
@import '_theme2.scss';
@import '_bootstrapOverrides.scss';
/* endinject */

.appContainer {
  font-size: 14px;

  .p-0{
    padding: 0px !important;
  }

  .mt-10 {
    margin-top: 10px;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mb-20{
    margin-bottom: 20px;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .shadow-container {
    @include shadow-container;
  }

  .full-height{
    min-height: calc(100vh - 90px);
  }
  
}
