:export {
  @import "_theme2.scss";
  theme1PrimaryTextColor: $contrastTextColour;
  theme1PrimaryColor: $primaryColor;
  @import "_theme2.scss";
  theme2PrimaryTextColor: $contrastTextColour;
  theme2PrimaryColor: $primaryColor;
}
