:export {
  theme1PrimaryTextColor: #fff;
  theme1PrimaryColor: #673ab7;
  theme2PrimaryTextColor: #fff;
  theme2PrimaryColor: #007afc;
  theme3PrimaryTextColor: #fff;
  theme3PrimaryColor: #fc0067; }
