@import "./themeConstants.scss";

.navbar-container {
  margin-bottom: 10px;

  @mixin applyThemeForNavbar($index) {
    background-color: map_get(nth($themes, $index), 'primaryColor');
    .navbar-brand {
      color: map_get(nth($themes, $index), 'primaryTextColor');
    }
    .nav-link {
      color: map_get(nth($themes, $index), 'primaryTextColorDisabled');

      &.active, &:hover {
        color: map_get(nth($themes, $index), 'primaryTextColor');
      }
    }
  }

  @for $i from 1 through 4 {
    &[data-theme='theme#{$i}'] {
      @include applyThemeForNavbar($i);
    }
  }

  .themeName {
    text-transform: capitalize;
  }

  .themeIcon {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
}