$themes: (
        primaryBackgroundColor: #ffffff,
        primaryTextColor: #ffffff,
        primaryTextColorDisabled: rgba(255,255,255,.5),
        primaryColor: #673ab7
) (
        primaryBackgroundColor: #ffffff,
        primaryTextColor: #ffffff,
        primaryTextColorDisabled: rgba(255,255,255,.5),
        primaryColor: #0d47a1
) (
        primaryBackgroundColor: #ffffff,
        primaryTextColor: #ffffff,
        primaryTextColorDisabled: rgba(255,255,255,.5),
        primaryColor: #3d5afe
) (
        primaryBackgroundColor: #ffffff,
        primaryTextColor: #ffffff,
        primaryTextColorDisabled: rgba(255,255,255,.5),
        primaryColor: #8bc34a
);

@mixin exportTheme($index) {
  theme#{$index}PrimaryBackgroundColor: map_get(nth($themes, $index), 'primaryBackgroundColor');
  theme#{$index}PrimaryTextColor: map_get(nth($themes, $index), 'primaryTextColor');
  theme#{$index}PrimaryTextColorDisabled: map_get(nth($themes, $index), 'primaryTextColorDisabled');
  theme#{$index}PrimaryColor: map_get(nth($themes, $index), 'primaryColor');
}

:export {
  @include exportTheme(1);
  @include exportTheme(2);
  @include exportTheme(3);
  @include exportTheme(4);
}